@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is the new proprietary FOC Q&A knowledgebase. <br /> By clicking here, you can access a list of all questions. <br /> By clicking
    here, you can submit your own question.</a>.</p>
</div>
